body{
    background-color: #232A38;
    color: #ffffffff;
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: #ffffffff;
    margin: 5px;
    padding: 2px;
    background-color: #7d838f;
}
.sq-container-list{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.sq-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.sq-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sq-form input{
    width: 50px;
    height: 30px;
    margin-left: 10px;
}
.sq-cedulas{
    margin: 5px;
    display: none;
    flex-direction: column;
    border: 1px solid;
    border-color: #ffffffff;
}
.sq-cedulas img{
    width: 120px;
}
.sq-cedulas div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}